{% extends "base.html" %}


{% block header %}

<p><a href="{% url 'root' %}">Home</a></p>

<h2>{{ movie.title }}</h2>
{% endblock %}

{% block content %}

{{ num }} Movie{{ movies|length|pluralize }}:
<ul>

{% for m in movies %}

<li>
<a href="{% url 'single_movie' m.slug %}">
Title: {{ m.title }}, Director: {{ m.director }}, Year: {{ m.year }}
</a>
</li>

{% endfor %}

</ul>

{% if next_page %}

<a href="/?director={{ director }}&amp;page={{ next_page }}">Next</a>

{% endif %}

{% endblock %}
